{% extends "convert/base.html" %}
{% load static %}

{% block navbar %}
{% include "convert/navbar.html" %}
{% endblock %}

{% block content %}
{% if result %}
<div>
    <p>Result of your calculation</p>
    <strong>{{input_value}} {{from_unit|capfirst}} =
        {{result|floatformat:2}} {{to_unit|capfirst}}</strong>
    <br>
    {% if convert_type == "length" %}
    <button onclick="window.location='{% url 'convert:length' %}'"
        type="button">Reset</button>
    {% elif convert_type == "weight" %}
    <button onclick="window.location='{% url 'convert:weight' %}'"
        type="button">Reset</button>
    {% else %}
    <button onclick="window.location='{% url 'convert:temperature' %}'"
        type="button">Reset</button>
    {% endif %}
</div>
{% else %}
<div>
    <div>
        {% if error_msg %}
        <p>Error : {{error_msg}}</p>
        {% endif %}
    </div>
    <form action="" method="get" id="unit_form">
        {% csrf_token %}
        <label for="input_value">
            Enter the {{convert_type | lower}} to convert
        </label><br>
        <input type="number" id="input_value"
            name="input_value" required>
        <br>

        <label for="from_unit">Unit to convert from</label>
        <br>
        <select id="from_unit" name="from_unit">
            {% for unit in units %}
            <option value="{{unit}}">{{unit | capfirst}}</option>
            {% endfor %}
        </select>

        <br>
        <label for="to_unit">Unit to convert to</label>
        <br>
        <select id="to_unit" name="to_unit">
            {% for unit in units %}
            <option value="{{unit}}">{{unit | capfirst}}</option>
            {% endfor %}
        </select>
        <br>
        <button type="button" onclick="swap_units()">Swap units</button>
        <br>

        <br>
        <input type="submit" value="Convert">
        <input type="reset" value="Reset">
    </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'convert/units.js' %}"></script>
{% endblock %}
