{% extends "convert/base.html" %}
{% load static %}

{% block navbar %}
{% include "convert/navbar.html" %}
{% endblock %}

{% block content %}
{% if result %}
<div>
    <br>
    <h3>Result of your calculation</h3>
    <br>
    <p>
        <strong>{{input_value|floatformat:2}}</strong>
        <em> {{from_unit|capfirst}}</em> =
        <strong> {{result|floatformat:2}}</strong>
        <em> {{to_unit|capfirst}}</em>
    </p>
    <br>
    {% if convert_type == "length" %}
    <button class="btn btn-danger" onclick="window.location='{% url 'convert:length' %}'"
        type="button">Reset</button>
    {% elif convert_type == "weight" %}
    <button class="btn btn-danger" onclick="window.location='{% url 'convert:weight' %}'"
        type="button">Reset</button>
    {% else %}
    <button class="btn btn-danger" onclick="window.location='{% url 'convert:temperature' %}'"
        type="button">Reset</button>
    {% endif %}
</div>
{% else %}
<div>
    <div>
        {% if error_msg %}
        <div class="alert alert-danger" role="alert">{{error_msg}}</div>
        {% endif %}
    </div>
    <form action="" method="get" id="unit_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="input_value">
                Enter the {{convert_type | lower}} to convert
            </label><br>
            <input class="form-control"
                type="number" id="input_value"
                name="input_value" required>
        </div>
        <br>

        <div class="form-group">
            <label for="from_unit">Unit to convert from</label>
            <br>
            <select class="form-control"
                id="from_unit" name="from_unit">
                {% for unit in units %}
                <option value="{{unit}}">{{unit | capfirst}}</option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="to_unit">Unit to convert to</label>
            <select class="form-control"
                id="to_unit" name="to_unit">
                {% for unit in units %}
                <option value="{{unit}}">{{unit | capfirst}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button class="btn btn-success" type="button"
            onclick="swap_units()">Swap units</button>
        <br>
        <br>

        <input class="btn btn-primary" type="submit" value="Convert">
        <input class="btn btn-danger" type="reset" value="Reset">
    </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'convert/units.js' %}"></script>
<script>

function select_in_navbar() {
    let ul = document.getElementById('navul');
    let items = ul.getElementsByTagName('li');
    for (let idx = 0; idx < items.length; ++idx) {
        const item = items[idx];
        const content = item.innerText.toLowerCase();
        if (content == '{{convert_type}}') {
            item.classList.add('selected-item');
        } else {
            item.classList.remove('selected-item');
        }
    }
}
select_in_navbar();
</script>
{% endblock %}
